@font-face {
  font-family: 'SovMod';
  font-weight: 400;
  font-style: normal;
  src: 
       url('../fonts/SovMod.woff2') format('woff2'),
       url('../fonts/SovMod.woff') format('woff');
  font-display: swap;
}