// Базовые цвета

$black:                       #000000;
$white:                       #ffffff;
$main-color:                  #48412F;
$accent:                      #B09A80;
$default:                     #6D6D6C;

// Типографика

$font-size:                   14px;
$line-height:                 24px;

$font-size-h1:                69px;
$font-size-h2:                50px;
$font-size-h3:                24px;
$font-size-h4:                18px;
$font-size-h5:                16px;