@import "reset";
@import "vars";
@import "fonts";
@import "global";

@import "components/header";

.about-us {
  background-image: url("../images/birdie.svg");
  background-repeat: no-repeat;
  background-position: right 150px;

  &__img {
    margin-right: 30px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__text {
    max-width: 565px;
    width: 100%;
    margin-bottom: 65px;
  }

}

.about-us__text p:not(:last-child) {
  margin-bottom: 40px;
}
.about-us__photo {
  max-width: 350px;
  width: 100%;
  margin-left: auto;
  position: relative;

  & svg {
    position: absolute;
    bottom: -75px;
    left: -75px;
  }
}

.aderynart__icon {
    animation: rotate 10s linear 0s infinite;
}

@keyframes rotate {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@import "media";
